html, body {
	height: 100%;
}

body {
	background-image: url(../images/playstation-pattern.png);
	/*max-width: 960px;*/
	/*width: auto;*/
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	display: flex;
	flex-direction: column;
	height: 100vh;
	margin: 0 auto;
	float: none;
	max-width: 960px;

}

div.container {
	width: 960px;
	flex: 1 0 auto;
	padding: 20px;
}

a{
	text-decoration: none;
}

div.header {
	position: absolute;
	max-width: 960px;
	display: block;
	background-color: #ffffff;
	height: 72px;
	width: 960px;
	padding: 25px;
	border: 1px solid #cccccc;
}

header.logo {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 25px;
	color: #ffffff;
	border-color: #cccccc;
	background-color: #4aaaa5;
	position: relative;
	float: left;
	padding: 25px;
	display: block;
	top: 23px;
	left: 25px;
}

li {
	float: left;
	border-right: dashed teal;
	padding: 10px;
	padding-left: 0px;
    padding-right: 0px;
}

ul.nav {
	position: relative;
	float: right;
	max-width: 330px;
	width: 100%;
	display: block;
	height: 100%;
	top: 61px;
}

li a {
	color: #777777;
	text-align: center;
	padding: 10px 16px;
}

li a:hover{
	background-color: #333;
}

.active {
	background-color: #333;
	color: white;
}

div.main {
	max-width: 650px;
	max-height: 650px;
	width: 100%;
	height: 400px;
	position: relative;
	padding: 10px;
	background-color: #ffffff;
	border: 1px solid #dddddd;
	overflow: hidden;
	float: left;
	top: 150px;
	left: 50px;
	color: #777777;
}

.main#portfolio {
	height: 625px;
}

header.title {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 25px;
	color: #4aaaa5;
	border-bottom: 1px solid #e5e5e5;
	float: left;
	position: absolute;
	width: 95%;
	padding-bottom: 15px;
}

img#me {
	position: relative;
    float: left;
    top: 40px;
    padding-right: 20px;
}

div.aboutme {
	text-indent: 25px;
	position: relative;
	float: left;
	padding: 25px;
}

p {
	position: relative;
	top: 38px;
}

/* .inline {
	display: inline;
} */

.inline:after {
	content: '';
	display: block;
	margin-bottom: 1rem;
}

div.connect {
	float: right;
	position: relative;
	display: block;
	right: -65px;
	top: 172px;
	max-width: 270px;
	width: 100%;
	background-color: #ffffff;
	height: 150px;
	border: 1px solid #dddddd;
}

header.cm {
	padding: 10px;
	text-align: center;
	color: #4aaaa5;
	font-size: 25px;
	border-bottom: 1px solid #e5e5e5;
}

#github {
	position: relative
	top: 15px;
}

#link {
	position: relative;
    left: 30px;
    top: 15px;
}

#stack {
	left: 60px;
    position: relative;
    top: 15px;
}

div.footer {
	max-width: 960px;
	position: absolute;
	bottom:-20px;
	display: block;
	background-color: #666666;
	width: 100%;
	padding: 20px;
	border-top: 5px solid #62a8a4;
	flex-shrink: 0;
}

footer {
	text-align: center;
}

a#hangman {
	position: absolute;
	top: 55px;
    left: 80px;
    float: left;
}

a#rpg {
	position: absolute;
    float: right;
    right: 25px;
    top: 55px;
}

a#trivia{
	position: absolute;
	float: left;
    top: 250px;
    left: 80px;
}

a#rut {
	position: absolute;
	float: right;
    right: 25px;
    top: 250px;
}

a#rock {
	position: absolute;
	float: left;
    top: 445px;
    left: 80px;
}

span.t {
	display: block;
    background: teal;
    text-align: center;
    font-size: large;
}

form{
	position: absolute;
	top: 80px;
    left: 25px;
}