div#header{
	height: 72px;
	background-color: #ffffff;
	display: block;
	padding: 25px;
	border-bottom: 1px solid #ddd;
	width: auto;
}

html{
	height: 100%;
}

div.content: {
	flex: 1 0 auto;
	padding: 20px;
}

body {
	max-width: 960px;
	height: 100%;
	position: relative;
	margin: auto;
	background-image: url(../images/playstation-pattern.png);
	display: flex;
	flex-direction: column;
	height: 100%;
}

div.par{
	color: #777777;
	text-indent: 25px;
	position: relative;
	text-align: right top;
	bottom: 1px;
	left: 1px;
	text-align: left;
	margin: O 0 1px 0;
	float: left;
}

.inline {
	display: inline;
}

.inline:after {
	content: '';
	display: block;
	margin-bottom: 1rem;
}

h1#logo {
	font-family: 'Georgia', Times, Times New Roman, serif;
	background-color: #4aaaa5;
	display: block;
	padding: 25px;
	position: relative;
	width: auto;
	height: auto;
	left: 50px;
	float: left;
	color: #ffffff;
	border-color: #cccccc;
	font-size: 25px;
}

ul {
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #ffffff;
	float: right;
	position: relative;
	float: right;
	right: 50px;
	top: 15px;
	list-style-type: none;
}

.active {
	background-color: #333;
	color: white;
}

li{
	float: left;
	border-right: solid black;
}

li a {
	display: block;
	 color: "white";
	 text-align: center;
	 padding: 14px 16px;
	 text-decoration: none;
}

li a:hover {
	background-color: #333;
}

ul#nav{
	position: relative;
	float: right;
}

div#main{
	position: relative;
	padding: 25px 2px 1px 39px;
	overflow: hidden;
	height: auto;
	width: 650px;
	float: center;
	background-color: #ffffff;
	border: 1px #ffffff;
	margin: 5px 5px 5px 5px;
	flex: 1 0 auto;
}

h1#title{
	border-bottom: solid #e5e5e5;
	float: left top;
	position: relative;
	bottom: 20px;
	right: 25px;
	font-size: 25px;
	color: #4aaaa5;
}

img#me{
	/*position: relative;*/
	float: left;
	/*bottom: 40px;*/
	/*right: 20px;*/
	margin: 0 15px 15px 0;
	width: 140px;
}

div#connect {
	padding: 10px;
	background-color: #ffffff;
	position: relative;
	float: right top;
	left: 725px;
	border: 1px solid #ffffff;
	width: 325px;
	bottom: 308px;

}

p#cm {
	text-align: center;
	border-bottom: solid #e5e5e5; 
	color: #4aaaa5;
}

.footer{
	flex-shrink: 0;
	padding: 20px;
	
}

footer h6{
	text-align: center;
	display: block;
	background-color: #666666;
	width: auto;
	padding: 20px;
}